{% extends "core/base.html" %}
{% block title %} {{title}} {% endblock title %}

{% block content %}
<div class="container mt-4">

<h3 class="d-flex justify-content-center text-uppercase mb-4">Sign In To GroupFix</h3>

<form method="post" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
<div class="row justify-content-center">
    <div class="col-md-6">
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
        </span>
        {{ form.username(class="form-control", placeholder="Username", aria_describedby="addon-wrapping") }}
        {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    </div>
</div>

<div class="row justify-content-center mt-4">
    <div class="col-md-6">
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
            <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
            </svg>
        </span>
        {{ form.password(class="form-control", placeholder="Password", aria_describedby="addon-wrapping") }}
        {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    </div>
</div>

<div class="text-center">
    <div class="mb-3 p-3">
        {{ form.submit(class="btn btn-primary mr-5") }}
        Don't have an account? <a class="text-success" href="{{ url_for('register') }}">Register</a>
    </div>
    
</div>
</form>
</div>
{% endblock content %}