{% extends "core/base.html" %}
{% block title %} {{title}} {% endblock title %}

{% block content %}

{% if issues.count() == 0 %}

    <h3>No issue created for this repository 
        <a href="{{ url_for('create_issue', repository_id=repository.id ) }}">New Issue</a>
    </h3>
    {% else %}

    {% if issues.count() == 1 %}
        <h2>Issue #{{ issues.count() }}</h2>
    {% else %}
        <h2>Issues {{ issues.count() }}</h2>
    {% endif %}

    {% for issue in issues %}
        <p> <span>{{ issue.status.title }}</span> <span>{{ issue.category.title }}</span> <span>{{ issue.severity.title }}</span></p>
        <a href="{{ url_for('issues_detail', issue_id=issue.id ) }}">
            <p>Title: {{ issue.title }} </p>
        </a>
        <a href="{{ url_for('profile', username=issue.created_by.username)}}">
            <img src="{{ issue.created_by.avatar(36) }}">
        </a>

    {% endfor %}

{% endif %}

{% endblock content %}