{% extends "core/base.html" %}
{% block title %} {{title}} {% endblock title %}

{% block content %}
<h2>Issues #{{issue.id}} <span>{{ issue.status.title }}</span>
    <p> <span>{{ issue.status.title }}</span> <span>{{ issue.category.title }}</span> <span>{{ issue.severity.title }}</span></p>
        
<a href="{{ url_for('create_issue', repository_id=issue.repository_id )}}">New Issue</a>
</h2>
<p>{{issue.created_at}}</p>
<p>{{issue.description}}</p>


<h2>Comments ({{comments.count()}})</h2>

{% for comment in comments %}
<P><a href="{{ url_for('profile', username=comment.user.username) }}"><img src="{{comment.user.avatar(38)}}" alt="img"></a> {{comment.text}} {{comment.created_at}}
     <a href="{{ url_for('edit_comment', comment_id=comment.id) }}">Edit</a> <a href="{{ url_for('delete_comment', comment_id=comment.id) }}">Delete</a></P>
{% endfor %} 

<h1>Add comment</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.text.label }}<br>
        {{ form.text() }}<br>
        {% for error in form.text.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

<a href="{{ url_for('edit_issue_status', issue_id=issue.id) }}">Close Issue</a>
{% endblock content %}