{% extends "core/base.html" %}
{% block title %} {{title}} {% endblock title %}

{% block content %}
<div>
    <h1>{{repo.title}} <span>{{repo.created_at}}</span> 
        <a href="{{ url_for('issues_list', repository_id=repo.id) }}">
        {% if issues.count() == 0 or issues.count() == 1 %}
            Issue ({{issues.count()}})
        {% else %}
            Issues ({{issues.count()}})
        {% endif %}
        </a>
    </h1> 
    <p>
        {{repo.description}} 
        {% if current_user.username == repo.user.username %}
        <a href="{{ url_for('edit_repository', repository_id=repo.id )}}">Edit</a>
        {% endif %}
    </p>
    <p><a href="">file here...</a></p>
    <p><a href="">file here...</a></p>
    <p><a href="">file here...</a></p>
</div>
{% endblock content %}